[Unit]
Description=JR-Bot Timer (%i)

[Timer]
OnBootSec=90s
OnUnitActiveSec=60s
AccuracySec=15s
Persistent=true
Unit=bot-runner@%i.service

[Install]
WantedBy=timers.target
